.adminContainer{
    width: 100vw;
    display: grid;
    grid-template-columns: 15vw 35vw 48vw;
    grid-template-rows: 10vh 5vh 70vh;
    grid-template-areas: "a b b"
                         "a c c"

                         "a d d";
    margin-top: 0.5vw;
    gap:5px;
    padding: 5px;
    
}
.dashboard{
    grid-area: a;
    display: flex;
    flex-direction: column;
    gap:0px;
    /* text-align: center; */
    background-color: blueviolet;
    padding-top: 20px;
    min-height: 93vh;
    color: white;
    align-items: start;
    padding-left: 10px;
}

.navBar{
    grid-area: b;
    background-color: blueviolet;
    max-height: 10vh;
}
.navBar div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.heading{
    grid-area: c;
    margin-left: 10px;
}
.createNew, .displayTopic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parentProject{
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    width: 100%;
    height: 100%;
    background-color: skyblue;
    flex-wrap: wrap; 
    margin-top: 5px;
    
}
.oneProject{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    width: 18vw;
    margin-top: 10px;
    height: 20vh;
    border-radius: 10px;
    margin-left: 10px;
}
.display{
    grid-area: d;
    margin-left: 20px;
}

input{
    padding:5px;
    width:30vw;
    border: none;
    border-radius:5px;
}
h5{
    padding: 13px;
    background-color: skyblue;
    width:13vw;
    font-size: 20px;
    /* border-radius: 10px; */
    
}
h5:hover{
    background-color: blueviolet;
    cursor: pointer;
    border: solid;
}
a{
    text-decoration: none;
    color: black;
}

.createProject{
    padding:5px;
    background-color: green;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.createProject a{
    color: white;
}

