<div class="adminContainer">
    <div class="dashboard">
        <i style="font-size: 30px;" class="fa-solid fa-people-roof">&nbsp; P M U S </i>
        <br><br>
        <i class="fa-solid fa-house-user">&nbsp; DASHBOARD</i> 
        <br><br>
        <h2>PROJECTS</h2>
       
        <!-- <h5 (click)="filterCategory('')"><a>All Projects</a></h5> -->
        <h5 (click)="filterCategory('Pending')"><a>Pending</a></h5>
        <h5 (click)="filterCategory('Complete')"><a>Completed</a></h5> 
        <h2>USERS</h2>
        <h5><a>All Users</a></h5>
    </div>
    <div class="navBar">
        <div>
            <!-- <input type="text" placeholder="Search Project ..."> -->
            <h1 style="color:white">THE PMUS SYSTEM</h1>
            <i (click)="onLogout()" style="font-size: 35px; cursor: pointer; color: white;" class="fa-solid fa-power-off"></i>
        </div>
    </div>

    <div class="heading">
        <div>
           
                <h2>PROJECTS/ USERS</h2><br>
                
            
        </div>
       
    </div>
    <div class="display">
        <div class="displayTopic">

            <div class="createNew">
                <div style="font-size: 20px;" class="createProject" >
                    <a routerLink="/admin/dashboard/newproject">Create Project &nbsp; 
                    <i style="font-size: 25px;" class="fa-solid fa-folder-plus"></i></a>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="parentProject">
           

                <div  *ngFor="let project of myProjects2  | async;">
                    <div class="oneProject">
                        <p>Name:  {{project.projectName}}</p>
                        <p>Desc:  {{project.description}}</p>
                        <p>Due:   {{project.deadline}}</p>
                        <p>status:{{project.status}}</p>  
                        <button (click)="onDelete(project.projectName)"><i style="color: red; font-size:20px;" class="fa-sharp fa-solid fa-trash"></i></button>
                        <p style="color:blueviolet">{{(deleteResp$ | async)}}</p>
                    </div>
                </div>

            
        </div>
    </div>
</div>
