<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>PROJECT ALLOCATION</th>
        </tr>
        <tr>
            <td>
            <p>
                Hi, <%=name%>
            </p>
            <p>
                This is notify you that you have been allocated <b><%=project%></b><br>
                Login to check the details. <br>
                <a href="https://thejitu.com/">Our Website</a>
            </p>
    </td>
        </tr>
    </table>
</body>
</html>