<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>PROJECT ALLOCATION</th>
        </tr>
        <tr>
            <td>
            <p>
                Hi sir
            </p>
            <p>
                This is notify you that you project allocated to me has been completed as of today<br>
                I did my best but i can correct any issues that arise <br>
                <p>Thank you</p>
            </p>
    </td>
        </tr>
    </table>
</body>
</html>