<div class="userMain">
    <div class="dashboard">

        <i class="fa-solid fa-house-user">&nbsp; USER DASHBOARD</i> 
        <br><br>
    </div>
    <div class="display">
        PROJECTS
        <div *ngFor="let project of myProjects">
            <div>
                <p>Project ID{{project.projectId}}</p>
                <p>Project Name{{project.projectName}}</p>
                <p>Project Description{{project.description}}</p>
                <p>Project Deadline{{project.deadline}}</p>
            </div>
        </div>
    </div>


</div>
