<div class="userMain">
    <div class="dashboard">

        <i class="fa-solid fa-house-user">&nbsp; USER DASHBOARD</i> 
        <br><br>
    </div>
    <div class="display">
        PROJECTS
        <table id="users" *ngIf="myProjects.length; else disclaimer">
            <thead>
                <tr>
                    <th>Project ID</th>
                    <th>Project Name</th>
                    <th>Project Description</th>
                    <th>Project Deadline</th>
                    <th>Action</th>
                </tr>
            </thead>


            <tbody>
                <tr *ngFor="let project of myProjects">
                    <td>{{project.projectId}}</td>
                    <td>{{project.projectName}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.deadline}}</td>
                    <td><button (click)="Complete(project.projectName)">Mark As Done</button></td>
                </tr>
            </tbody>
        </table>
           
        

    </div>
    <ng-template #disclaimer>No tasks at the Moment</ng-template>

</div>

