.mainLogin{
    margin-top: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: skyblue;
    height: 85vh;
}
.login{
    padding: 30px;
    background-color: blueviolet;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    height: 50vh;
}
input, button{
    width:25vw;
    padding:5px;
    
}

input.ng-invalid.ng-touched{
    border:2px solid red;
}
input.ng-valid.ng-touched{
    border:2px solid green
}

form.ng-invalid.ng-touched{
    padding:10px;
    border:0.3px solid red;
}