<div class="mainLogin">
    <div class="login">
        <div><h2>LOGIN HERE</h2></div><br>
        <form #logform="ngForm" (ngSubmit)="login(logform.value)">
            <div>
                <label for="email">Input Email</label><br>
                <input type="email" ngModel required name="email" placeholder="Email">
            </div>
            <div>
                <label for="password">Input Password</label><br>
                <input type="password" ngModel required name="password" placeholder="Password">
            </div><br>
            <div>
                <button type="submit">Sign In</button>
            </div>
        </form>
    </div>
</div>
