<div>
    <div class="regProject">
        <p style="color : green; padding-left:30px;" *ngIf="disclaimer">Project registered successfully</p>
        <p style="color : red; padding-left:30px;" *ngIf="disclaimer2">Please input all the fields</p>
        <form [formGroup]="form" (ngSubmit)="addProject()">
            
            
            <hr>
            <div>
                <label>Project Name</label><br>
                <input type="text" formControlName="projectName" />
                <p></p>
            </div>
            <div>
                <label>Project Description </label><br>
                <input type="text" formControlName="description" />
                <p></p>
            </div>
            <div>
                <label>Project Deadline</label><br>
                <input type="date" formControlName="deadline" />
                <p></p>
            </div>
            <div>
                <label>Assign to:</label><br>
                <select formControlName="userName">
                    <option>--Allocate to User--</option>
                    <option *ngFor="let option of userNames">{{option.userName}}</option>
                </select>
            </div><br>

            <div>
                <button>Create</button>

            </div>
        </form>
    </div>
</div>
